<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-4 navbar-brand"><a href="/"><img src="/assets/logo-f29408f3318b935b387d8a9b3dd39b15d2d8a6b5f5836541db99d20d2812a866.png" alt="Logo"></a></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 store-block">
            <div class="store-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="store-box"><span class="store-title">Horaire</span>
              <div class="store-time">L: Fermé | M-S: 10AM - 7PM | D: 12AM - 6PM</div>
            </div>
          </div>
          <div class="col-md-4 need-block">
            <div class="need-icon"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
            <div class="need-box"><span class="help-title">Besoin d'aide?</span>
              <div class="help-number">418-255-2139</div>
            </div>
          </div>
          <div class="col-md-2 text-right">
              <a class="btn btn-default" href="/contacts/new">Devis </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header -->
<div class="navigation">
  <div class="container">
  <div class="menu-button">Menu</div>
    <div>
      <ul data-breakpoint="800" class="flexnav">
        <li class="<%= current_page?(root_path) ? 'active' : 'no-active' %>">
            <%= link_to "Accueil", root_path, class: "animsition-link" %>
        </li>
        <li class="<%= current_page?(about_path) ? 'active' : 'no-active' %>">
            <%= link_to "À propos", about_path, class: "animsition-link" %>
        </li>
        <li class="<%= current_page?(services_path) ? 'active' : 'no-active' %>">
            <%= link_to "Services", services_path, class: "animsition-link" %></a>
        </li>
        <li class="<%= current_page?(pricing_path) ? 'active' : 'no-active' %>">
            <%= link_to "Tarifs", pricing_path, class: "animsition-link" %></a>
        </li>
        <li class="<%= current_page?(new_contact_path) ? 'active' : 'no-active' %>">
            <%= link_to "Contact", new_contact_path, class: "animsition-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>  